openapi: 3.0.1
info:
  title: Infrahub-API
  version: "1.0"
servers:
- url: https://infrahub-api.nexgencloud.com/v1
tags:
- description: Authentication APIs using authentik
  name: auth
- description: Organizations API
  name: organization
- description: API Key
  name: api key
- description: Invite APIs
  name: invite
- description: Permission APIs
  name: permission
- description: User Permission APIs
  name: user permission
- description: Callback Test
  name: internal
- description: Policy APIs
  name: policy
- description: RBAC Role APIs
  name: rbac role
- description: Assigning Member Role APIs
  name: assigning member role
- name: admin
- description: User Admin APIs
  name: User
- description: Dashboard APIs
  name: dashboard
- description: Stock APIs
  name: stock
- description: Environment APIs
  name: environment
- description: Virtual Machine Event APIs
  name: virtual machine events
- description: Virtual Machine APIs
  name: virtual machine
- description: Flavor APIs
  name: flavor
- description: Image APIs
  name: image
- description: Keypair APIs
  name: keypair
- description: VNC Console Link APIs
  name: vnc url
- description: Volume APIs
  name: volume
- description: Volume Attachment APIs
  name: volume attachment
- description: GPU APIs
  name: gpu
- description: Callback APIs
  name: callbacks
- description: Floating IP APIs
  name: floating ip
- description: Region APIs
  name: region
- description: Templates APIs
  name: template
- description: Deployment APIs
  name: deployment
- description: Security Rule APIs
  name: security-rules
- description: Profile APIs
  name: profile
- description: Compliance APIs
  name: compliance
- description: Firewalls APIs
  name: firewalls
- description: Firewall Attachments APIs
  name: firewall-attachment
- description: User Detail Choice APIs
  name: user detail choice
- description: Admin Images Organization APIs
  name: Admin Images
- description: Admin Flavors APIs
  name: Admin Flavors
- description: Admin VM APIs
  name: Admin Virtual Machines
- description: Admin Environments APIs
  name: Admin Environments
- description: Pricebook APIs
  name: Pricebook
- description: Discount APIs
  name: Discount
- description: Calculate APIs
  name: Calculate
- description: Admin APIs
  name: Admin
- description: Admin Contract APIs
  name: Admin Contract
- description: Customer Contract APIs
  name: Customer Contract
- description: Contract Event APIs
  name: Contract Event
- name: alive
- name: billing
- name: credit
- name: payment
- name: user
paths:
  /api-key:
    get:
      operationId: Get API Key
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiKeyResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Get API Key
      tags:
      - api key
  /api-key/generate:
    post:
      operationId: Generate API Key
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateApiKeyResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      summary: Generate API Key
      tags:
      - api key
  /api-key/verify: {}
  /auth/admin/credit-warning-mail/{org_id}: {}
  /auth/admin/data-usages-warning-mail/{org_id}: {}
  /auth/admin/hibernation-restoration-mail: {}
  /auth/admin/organizations: {}
  /auth/admin/organizations/summary: {}
  /auth/admin/organizations/{id}: {}
  /auth/admin/payment-confirmation-mail/{org_id}: {}
  /auth/admin/termination-warning-mail/{org_id}: {}
  /auth/admin/users: {}
  /auth/admin/users/{id}: {}
  /auth/admin/users/{user_id}/update: {}
  /auth/admin/version: {}
  /auth/admin/vm-status-mail: {}
  /auth/invites:
    get:
      operationId: List Invites
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvitesResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List Invites
      tags:
      - invite
    post:
      operationId: Invite an user to organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserPayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUserResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Invite an user to organization
      tags:
      - invite
      x-codegen-request-body-name: payload
  /auth/invites/{id}:
    delete:
      operationId: Delete Invite
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
          description: Invite deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete Invite
      tags:
      - invite
  /auth/logout: {}
  /auth/me:
    get:
      operationId: Auth user information
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthUserInfoResponseModel'
          description: User Information
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Get me information
      tags:
      - auth
  /auth/organizations:
    get:
      operationId: Get organization info
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Organization Info
      tags:
      - organization
  /auth/organizations/remove-member:
    post:
      operationId: Remove a member from organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveMemberPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveMemberFromOrganizationResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Remove a member from organization
      tags:
      - organization
      x-codegen-request-body-name: payload
  /auth/organizations/update:
    put:
      operationId: Update organization info
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrganizationResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Update organization info
      tags:
      - organization
      x-codegen-request-body-name: payload
  /auth/permissions:
    get:
      operationId: List Permissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPermissionsResponseModel'
          description: Getting permissions success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List Permissions
      tags:
      - permission
  /auth/permissions/{id}: {}
  /auth/policies:
    get:
      operationId: List Policies
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPoliciesResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List Policies
      tags:
      - policy
  /auth/policies/{id}: {}
  /auth/refresh: {}
  /auth/request-login: {}
  /auth/roles:
    get:
      operationId: List RBAC Roles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRbacRolesResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List RBAC Roles
      tags:
      - rbac role
    post:
      operationId: Create RBAC Role
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateRbacRolePayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Create RBAC Role
      tags:
      - rbac role
      x-codegen-request-body-name: payload
  /auth/roles/{id}:
    delete:
      operationId: Delete a RBAC Role
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete a RBAC Role
      tags:
      - rbac role
    get:
      operationId: Get a RBAC Role Detail
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Get a RBAC Role Detail
      tags:
      - rbac role
    put:
      operationId: Update a RBAC Role
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateRbacRolePayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Update a RBAC Role
      tags:
      - rbac role
      x-codegen-request-body-name: payload
  /auth/send/welcome-email/{user_id}: {}
  /auth/sendgrid-webhook: {}
  /auth/token: {}
  /auth/users/me/permissions:
    get:
      operationId: List Current User Permissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserPermissionsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List Current User Permissions
      tags:
      - user permission
  /auth/users/{id}/permissions:
    get:
      operationId: List User Permissions
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserPermissionsResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Method Not Allowed
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List User Permissions
      tags:
      - user permission
  /auth/users/{user_id}/assign-roles:
    put:
      operationId: Assign RBAC Roles
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignRbacRolePayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Assign RBAC Roles
      tags:
      - assigning member role
      x-codegen-request-body-name: payload
  /auth/users/{user_id}/roles:
    delete:
      operationId: Remove role from a user
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Remove role from a user
      tags:
      - assigning member role
  /internal/users/{id}/permissions: {}
  /core/admin/environments/bootstrap-enviroments: {}
  /core/admin/flavors: {}
  /core/admin/flavors/{flavor_id}: {}
  /core/admin/flavors/{flavor_id}/vms: {}
  /core/admin/images: {}
  /core/admin/images/{image_id}: {}
  /core/admin/keypairs: {}
  /core/admin/organizations/{id}/hibernate: {}
  /core/admin/resources: {}
  /core/admin/resources/count: {}
  /core/admin/resources/defaults: {}
  /core/admin/resources/sync: {}
  /core/admin/resources/{id}: {}
  /core/admin/version: {}
  /core/admin/virtual-machines: {}
  /core/admin/virtual-machines/delete-expired-contracted-vms: {}
  /core/admin/virtual-machines/summary: {}
  /core/admin/virtual-machines/{id}: {}
  /core/admin/virtual-machines/{id}/lock: {}
  /core/admin/virtual-machines/{id}/stop: {}
  /core/admin/virtual-machines/{virtual_machine_id}/events: {}
  /core/admin/virtual-machines/{virtual_machine_id}/hibernate: {}
  /core/admin/virtual-machines/{virtual_machine_id}/hibernate-restore: {}
  /core/compliance:
    get:
      description: "Returns a list of compliance objects each corresponding to available\
        \ GPU models. These compliance objects contain minimum and maximum values\
        \ for RAM in GB, number of vCPUs, and system disk capacity in GB. Use the\
        \ optional `gpu` model parameter in the query string to filter responses by\
        \ GPU model. For additional details on GPU compliance, [**click here**](https://infrahub-doc.nexgencloud.com/docs/hardware/flavors#adhering-to-gpu-compliance)."
      operationId: Retrieve compliance
      parameters:
      - description: This is for gpu model
        explode: true
        in: query
        name: gpu
        required: false
        schema: {}
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceResponse'
          description: Compliance list retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Acceptable
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve GPU compliance
      tags:
      - compliance
    post:
      operationId: Create Compliance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompliancePayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpdateComplianceResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Create compliance
      tags:
      - compliance
      x-codegen-request-body-name: payload
    put:
      operationId: Update a compliance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompliancePayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpdateComplianceResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Method Not Allowed
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Update a compliance
      tags:
      - compliance
      x-codegen-request-body-name: payload
  /core/compliance/{gpu_model}:
    delete:
      operationId: Delete a compliance
      parameters:
      - explode: false
        in: path
        name: gpu_model
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete a compliance
      tags:
      - compliance
  /core/dashboard:
    get:
      description: "Returns hardware and pricing overview for your active resources,\
        \ including virtual machines, containers, and volumes. For additional information\
        \ on the Dashboard feature, [**click here**](https://infrahub-doc.nexgencloud.com/docs/features/dashboard)."
      operationId: Retrieve Dashboard
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardInfoResponse'
          description: Getting dashboard info success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Dashboard
      tags:
      - dashboard
  /core/environments:
    get:
      description: "Returns a list of your existing environments, providing the following\
        \ details for each; environment ID, name, [**region**](https://infrahub-doc.nexgencloud.com/docs/features/regions),\
        \ and the date and time of creation. For more information on environments,\
        \ [**click here**](https://infrahub-doc.nexgencloud.com/docs/features/environments-available-features)."
      operationId: List environments
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environments'
          description: Successful retrieval of environments list.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List environments
      tags:
      - environment
    post:
      description: "Creates an environment—a container to organize your resources,\
        \ including SSH key pairs, virtual machines, and volumes. To create your environment,\
        \ provide your desired environment name, and [**region**](https://infrahub-doc.nexgencloud.com/docs/features/regions)\
        \ in the request body."
      operationId: Create environment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironment'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: Environment has been created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Create environment
      tags:
      - environment
      x-codegen-request-body-name: payload
  /core/environments/{id}:
    delete:
      description: Deletes an environment permanently. Provide the environment ID
        in the path to remove the specified environment.
      operationId: Delete environment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: The environment has been successfully deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete environment
      tags:
      - environment
    get:
      description: Retrieves details about a specific environment. Provide the environment
        ID in the path and the new environment `name` in the request body to modify
        the specified environment.
      operationId: Retrieve environment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: Environment details retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve environment
      tags:
      - environment
    put:
      description: Updates the name of an existing environment. Provide the environment
        ID in the path and the new environment `name` in the request body to modify
        the specified environment.
      operationId: Update environment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironment'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: Environment name successfully updated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Update environment
      tags:
      - environment
      x-codegen-request-body-name: payload
  /core/firewalls:
    get:
      operationId: Retrieve Firewalls
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallsListResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve Firewalls
      tags:
      - firewalls
    post:
      operationId: Create Firewall
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFirewallPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Create Firewall
      tags:
      - firewalls
      x-codegen-request-body-name: payload
  /core/firewalls/{firewall_id}/firewall-rules:
    post:
      operationId: Add Rules to Firewall
      parameters:
      - explode: false
        in: path
        name: firewall_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFirewallRulePayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Add Rules to Firewall
      tags:
      - firewalls
      x-codegen-request-body-name: payload
  /core/firewalls/{firewall_id}/firewall-rules/{firewall_rule_id}:
    delete:
      operationId: Delete Firewall Rules from Firewall
      parameters:
      - explode: false
        in: path
        name: firewall_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: firewall_rule_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Exists
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete Firewall Rules from Firewall
      tags:
      - firewalls
  /core/firewalls/{firewall_id}/update-attachments:
    post:
      operationId: Attach Firewall to VMs
      parameters:
      - explode: false
        in: path
        name: firewall_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachFirewallWithVM'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Attach Firewalls to VMs
      tags:
      - firewall-attachment
      x-codegen-request-body-name: payload
  /core/firewalls/{id}:
    delete:
      operationId: Delete Firewall
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete Firewall
      tags:
      - firewalls
    get:
      operationId: Details of Firewall by ID
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallDetailResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Details of Firewall by ID
      tags:
      - firewalls
  /core/flavors:
    get:
      description: "Returns a list of available virtual machine specification configurations,\
        \ referred to as **flavors**. Include a `region_name` in the query string\
        \ of the request to return only the flavors available in the specified region;\
        \ the default value will retrieve flavors available in all regions. For more\
        \ details on flavors, [**click here**](https://infrahub-doc.nexgencloud.com/docs/hardware/flavors)."
      operationId: List flavors
      parameters:
      - description: Region Name
        explode: true
        in: query
        name: region
        required: false
        schema: {}
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlavorListResponse'
          description: Successful retrieval of flavors list.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List flavors
      tags:
      - flavor
  /core/gpus:
    get:
      description: Returns a list of all available GPUs that can be utilized in the
        creation of custom virtual machine configurations.
      operationId: List GPUs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPUList'
          description: Retrieval of GPUs list successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List GPUs
      tags:
      - gpu
  /core/gpus/{id}: {}
  /core/image-logos: {}
  /core/images:
    get:
      description: "Returns a list of all available operating system (OS) images,\
        \ providing details about each image's corresponding virtual machine operating\
        \ system. Include the optional `region` parameter in the query string of the\
        \ request to specifically return OS images from the designated region. For\
        \ more information on OS images, [**click here**](https://infrahub-doc.nexgencloud.com/docs/virtual-machines/images)."
      operationId: List images
      parameters:
      - description: Region Name
        explode: true
        in: query
        name: region
        required: false
        schema: {}
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Images'
          description: Retrieval of images list successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Acceptable
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List images
      tags:
      - image
  /core/internal/callbacks/test: {}
  /core/internal/virtual-machines: {}
  /core/internal/volumes: {}
  /core/keypair/{id}:
    delete:
      description: Permanently deletes a specified key pair. Include the key pair
        ID in the request path to remove the designated key pair.
      operationId: Delete key pair
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: Keypair successfully deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete key pair
      tags:
      - keypair
    put:
      description: Updates the name of a specified key pair. Include the key pair
        ID in the request path and the new `name` of the key pair in the request body.
      operationId: Update key pair name
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateKeypairName'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateKeypairnameresponse'
          description: Keypair name updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Update key pair name
      tags:
      - keypair
      x-codegen-request-body-name: payload
  /core/keypairs:
    get:
      description: "Retrieves a list of your existing SSH key pairs, providing details\
        \ for each. For additional information on SSH key pairs, [**click here**](https://infrahub-doc.nexgencloud.com/docs/features/keypairs-available-features)."
      operationId: List key pairs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Keypairs'
          description: Retrieval of key pairs list successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List key pairs
      tags:
      - keypair
    post:
      description: "Imports a new key pair for secure shell (SSH) access to your resources.\
        \ To import a new key pair, include the key name, environment name, and public\
        \ key in the request body. For additional information on importing SSH key\
        \ pairs, [**click here**](https://infrahub-doc.nexgencloud.com/docs/getting-started/create-keypair#importing-an-ssh-key)."
      operationId: Import key pair
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportKeypairPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportKeypairResponse'
          description: Keypair is imported successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Import key pair
      tags:
      - keypair
      x-codegen-request-body-name: payload
  /core/marketplace/deployments:
    get:
      operationId: List Deployments
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployments'
          description: Getting deployments success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List Deployments
      tags:
      - deployment
    post:
      operationId: Start Deployment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartDeploymentPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartDeployment'
          description: Deployment created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Start Deployment
      tags:
      - deployment
      x-codegen-request-body-name: payload
  /core/marketplace/deployments/{id}:
    delete:
      operationId: Delete Deployment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete Deployment
      tags:
      - deployment
    get:
      operationId: Details of Deployment by ID
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartDeployment'
          description: Getting deployment detail success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Details of Deployment by ID
      tags:
      - deployment
  /core/marketplace/templates:
    get:
      description: "Returns a comprehensive list of templates, providing resource\
        \ configuration details for each. Optionally, specify the `visibility` as\
        \ `public` or `private` to retrieve templates with the desired visibility\
        \ status. To learn more about the templates feature, [**click here**](https://infrahub-doc.nexgencloud.com/docs/features/templates#view-a-list-of-templates)."
      operationId: List templates
      parameters:
      - description: Specify the `visibility` status as either `public` or `private`
          to filter and retrieve templates with the desired visibility.
        explode: true
        in: query
        name: visibility
        required: false
        schema: {}
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Templates'
          description: Templates list successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Acceptable
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List templates
      tags:
      - template
    post:
      description: Creates a resource template for deployment.
      operationId: Create template
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Create_template_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
          description: Template added successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Create template
      tags:
      - template
  /core/marketplace/templates/{id}:
    delete:
      description: Permanently deletes a template. Supply the template ID in the path
        to delete the specified template.
      operationId: Delete template
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: Template deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete template
      tags:
      - template
    get:
      description: "Retrieves the resource configuration details for a specified template.\
        \ Provide the template ID in the path to retrieve details for the specified\
        \ template. For additional information on template configuration details,\
        \ [**click here**](https://infrahub-doc.nexgencloud.com/docs/features/templates#retrieve-the-details-for-a-template)."
      operationId: Retrieve template details
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
          description: Template details retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve template details
      tags:
      - template
    put:
      description: "Updates the details of a template. Modify the template name, description\
        \ and/or `is_public` status to change the public/private visibility of the\
        \ template."
      operationId: Update template
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
          description: Template updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Update template
      tags:
      - template
      x-codegen-request-body-name: payload
  /core/profiles:
    get:
      description: "Returns a list of your existing provisioning profiles, providing\
        \ virtual machine configuration details for each. For additional information\
        \ about profiles, [**click here**](https://infrahub-doc.nexgencloud.com/docs/virtual-machines/provisioning-profiles#retrieve-a-list-of-profiles)."
      operationId: List profiles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResponse'
          description: Getting profiles success.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List profiles
      tags:
      - profile
    post:
      description: "Creates a provisioning profile to save the configuration of a\
        \ virtual machine for future use. Include the profile name, description, and\
        \ virtual machine configuration details in the request body. For more information\
        \ about virtual machine profiles, [**click here**](https://infrahub-doc.nexgencloud.com/docs/virtual-machines/provisioning-profiles)."
      operationId: Create profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfilePayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProfileResponse'
          description: Profile created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Create profile
      tags:
      - profile
      x-codegen-request-body-name: payload
  /core/profiles/{id}:
    delete:
      description: Permanently deletes a provisioning profile. Supply the profile
        ID in the path to delete the specified profile.
      operationId: Delete profile
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: Profile deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete profile
      tags:
      - profile
    get:
      description: "Retrieves details for an existing provisioning profile by supplying\
        \ the profile ID in the request path. For more information about profiles,\
        \ [**click here**](https://infrahub-doc.nexgencloud.com/docs/virtual-machines/provisioning-profiles)."
      operationId: Retrieve profile details
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProfileResponse'
          description: Profile details retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve profile details
      tags:
      - profile
  /core/regions:
    get:
      description: "Lists the currently available regions, each representing a distinct\
        \ geographic location housing a data center. For additional information on\
        \ regions, [**click here**](https://infrahub-doc.nexgencloud.com/docs/features/regions)."
      operationId: List regions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Regions'
          description: Successful retrieval of regions list.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List regions
      tags:
      - region
  /core/regions/{id}: {}
  /core/sg-rules-protocols:
    get:
      description: Returns a list of all available protocols that can be used in the
        creation of firewall rules for your virtual machines.
      operationId: List firewall rule protocols
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityRulesProtocolFields'
          description: Protocols list successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List firewall rule protocols
      tags:
      - security-rules
  /core/stocks:
    get:
      description: "Returns information on current and upcoming GPU availability,\
        \ organized by region and GPU model. For additional information on GPU stocks,\
        \ [**click here**](https://infrahub-doc.nexgencloud.com/docs/hardware/gpu-stock-information)."
      operationId: Retrieve GPU stocks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewStockRetriveResponse'
          description: GPU stocks retrieved successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content: {}
          description: Stocks Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      tags:
      - stock
  /core/stocks/details: {}
  /core/stocks/upcoming: {}
  /core/stocks/upcoming/{id}: {}
  /core/stocks/upcoming/{node_id}/stock: {}
  /core/stocks/upcoming/{node_id}/stock/{stock_id}: {}
  /core/stocks/visibility: {}
  /core/stocks/visibility/add-users: {}
  /core/stocks/visibility/remove-users: {}
  /core/user/resources/defaults:
    get:
      operationId: Retrieve default flavors and images for user
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDefaultChoicesForUserResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Method Not Allowed
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve default flavors and images for user
      tags:
      - user detail choice
  /core/virtual-machines:
    get:
      description: "Returns a list of your existing virtual machines, providing configuration\
        \ details for each. The list is sorted by creation date, with the oldest virtual\
        \ machines displayed first."
      operationId: List virtual machines
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instances'
          description: Successful retrieval of virtual machine list.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: List all virtual machines
      tags:
      - virtual machine
    post:
      description: "Creates one or more virtual machines with the specified custom\
        \ configuration and features provided in the request body. For more information\
        \ about the virtual machine features offered by Infrahub, [**click here**](https://infrahub-doc.nexgencloud.com/docs/virtual-machines/virtual-machine-features#create-a-virtual-machine-with-custom-features)."
      operationId: Create virtual machine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInstancesPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instances'
          description: Virtual machine(s) created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Create virtual machine
      tags:
      - virtual machine
      x-codegen-request-body-name: payload
  /core/virtual-machines/contract/{contract_id}/virtual-machines:
    get:
      operationId: Retrieve virtual machines associated with a contract
      parameters:
      - explode: false
        in: path
        name: contract_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractInstancesResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve virtual machines associated with a contract
      tags:
      - virtual machine
  /core/virtual-machines/{id}:
    delete:
      description: Permanently deletes a virtual machine. Supply the virtual machine
        ID in the path to delete the specified virtual machine.
      operationId: Delete virtual machine
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: Virtual machine deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Conflict
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete virtual machine
      tags:
      - virtual machine
    get:
      description: "Retrieves the details of an existing virtual machine. Supply the\
        \ virtual machine ID in the path, and Infrahub will return the corresponding\
        \ Virtual Machine object."
      operationId: Retrieve virtual machine details
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
          description: Virtual machine details retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Retrieve virtual machine details
      tags:
      - virtual machine
  /core/virtual-machines/{id}/attach-callback:
    post:
      description: "Creates a callback URL for a specified virtual machine, enabling\
        \ the posting of action events executed on the virtual machine to the specified\
        \ URL. Provide the callback URL in the request body and the ID of the virtual\
        \ machine to which it is being attached in the path. For more details on virtual\
        \ machine callback URLs, [**click here**](https://infrahub-doc.nexgencloud.com/docs/features/webhooks-callbacks#attach-a-callback-url-to-an-existing-virtual-machine)."
      operationId: Attach callback to virtual machine
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachCallbackPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachCallbackResponse'
          description: Callback URL successfully attached to your virtual machine.
            Any action events on your virtual machine will be posted to the provided
            URL
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Attach callback to virtual machine
      tags:
      - callbacks
      x-codegen-request-body-name: payload
  /core/virtual-machines/{id}/attach-floatingip:
    post:
      description: "Initiates the creation of a public IP address and attaches it\
        \ to an existing virtual machine, making it accessible through the internet.\
        \ Include the virtual machine ID in the path to attach a public IP to the\
        \ specified VM. For more information on public IP addresses, [**click here**](https://infrahub-doc.nexgencloud.com/docs/virtual-machines/public-ip)."
      operationId: Attach public IP to virtual machine
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: Public IP successfully attached to VM.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Insufficient balance to create the resource
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Attach public IP to virtual machine
      tags:
      - floating ip
  /core/virtual-machines/{id}/delete-callback:
    delete:
      description: "Permanently deletes the callback URL associated with a specified\
        \ virtual machine by providing the virtual machine ID in the request path.\
        \ For additional information on virtual machine callback URLs, [**click here**](https://infrahub-doc.nexgencloud.com/docs/features/webhooks-callbacks)."
      operationId: Delete virtual machine callback
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: Virtual machine callback URL successfully deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Delete virtual machine callback
      tags:
      - callbacks
  /core/virtual-machines/{id}/detach-floatingip:
    post:
      description: "Removes a public IP address from an existing virtual machine,\
        \ disabling internet accessibility to the VM. Include the virtual machine\
        \ ID in the path to detach the public IP from the specified VM. For more information\
        \ on public IP addresses, [**click here**](https://infrahub-doc.nexgencloud.com/docs/virtual-machines/public-ip)."
      operationId: Detach public IP from virtual machine
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Detach public IP from virtual machine
      tags:
      - floating ip
  /core/virtual-machines/{id}/hard-reboot:
    get:
      description: "Initiates a hard reboot for a virtual machine, simulating the\
        \ process of unplugging and rebooting a physical machine. Provide the virtual\
        \ machine ID in the path to execute a hard reboot for the specified virtual\
        \ machine."
      operationId: Hard reboot virtual machine
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
          description: Hard reboot process has been successfully initiated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - accessToken: []
      - apiKey: []
      summary: Hard reboot virtual machine
      tags:
      - virtual machine
  /core/virtual-machines/{id}/request-console:
    get:
      operationId: Request Console
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestConsole'
          description: Please wait a few seconds and visit the below link to access
[...]
